@using ERPack.Web.Models.Common.Modals
@model ModalHeaderViewModel
<div class="modal-header">
    <h5 class="modal-title">@Html.Raw(Model.Title)</h5>
    <button type="button" class="btn btn-outline-dark btn-sm " data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" style="font-size: 18px;" class="px-1">&times;</span>
    </button>
</div>
